$darkGreenTitle: #0e3935;
$darkGreenParagraph: #36403f;

#mainContent {
    margin-top: 81px;
    font-family: "pvtext";

    .title {
        font-size: 2.5em;
        color: $darkGreenTitle;
        width: 592px;
        font-weight: bold;
        margin: 0;
        line-height: 1;
    }

    .description {
        margin-top: 70px;
        margin-bottom: 81px;
        display: flex;
        flex-flow: row nowrap;

        > div {
            flex-basis: 50%;
            .wrapDescription {
                width: 80%;

                p {
                    margin-top: 25px;
                    color: $darkGreenParagraph;
                }
            }
        }
    }
}