$greenBorder: #007132;
$greenPlayvox: #00a248;
$grayFilterBackground: #f5f8f7;
$blackButtonText: #04100f;
$grayBorderFilter: #d9e3e2;
$grayBackgroundUserName: #ecf1f1;
$grayBorderUserName: #9b9f9f;
$priorityHigh: #ff7757;
$priorityMedium: #ffd96a;
$priorityLow: #9b9f9f;
$greenBorderActive: #33b46c;
$greenFilterBackground: #e6f5ed;
$grayBorderBottom: #edf2f1;
$grayTextFilters: #68706f;
$blackTextFilters: #2b3534;
$darkGreenTextHover: #00401c;

#recoverPassword {
    margin-top: 65px;
    font-family: "pvtext";
    position: relative;

    > h2 {
        margin-bottom: 20px;
    }

    .customFilter {
        padding-left: 15px;
        background-color: $grayFilterBackground;
        color: $blackButtonText;
        border: solid 1px $grayBorderFilter;
        font-family: "pvtext";
        text-align: left;

        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .customLabel {
            display: flex;
            align-items: center;
            min-width: 92px;
            height: 40px;
            margin-right: 12px;
        }

        .chevron {
            width: 30px;
            border-left: solid 1px $grayBorderFilter;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8em;
        }

        &.active {
            border: solid 1px $greenBorderActive;
            .chevron {
                border-radius: 0px 4px 4px 0px;
                color: $greenPlayvox;
                border-left: solid 1px $greenBorderActive;
                background-color: $greenFilterBackground;
            }
        }
    }

    .showStatus { display: inline-flex; }

    .showCustomerSatisfaction{
        display: none;

        .activeFilterOption {
            .listFiltersOptions {
                li:first-child {
                    flex-flow: column nowrap;
                    padding-top: 16px;
                    padding-bottom: 17px;
                }

                .listItemRow {
                    .inputPercentage {
                        width: 79px;
                        height: 42px;
                        background-color: $grayFilterBackground;
                        border: solid 1px $grayBorderFilter;
                        border-radius: 4px 0px 0px 4px;
                        color: $blackButtonText;
                        padding-left: 17px;
                        outline: none;
                    }
                    .percentage {
                        width: 42px;
                        height: 42px;
                        background-color: white;
                        border-top: solid 1px $grayBorderFilter;
                        border-bottom: solid 1px $grayBorderFilter;
                        border-right: solid 1px $grayBorderFilter;
                        
                        border-radius: 0px 4px 4px 0px;
                        color: $blackButtonText;
                        text-align: center;
                        display: inline-flex;
                        vertical-align: top;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }

    .showStatus, .showCustomerSatisfaction {
        position: relative;
        &.active { display: inline-flex; }
    }
    

    .activeFilterOption {
        display: none;
        position: absolute;
        background-color: white;
        border-radius: 4px;
        border: solid 1px $grayBorderFilter;
        width: 224px;
        left: 108px;
        top: 65px;

        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 100%;
            width: 0;
            height: 0;
        }
        &:before {
            left: 17px;
            border: 11px solid transparent;
            border-bottom-color: #ddd;
        }
        &:after {
            left: 18px;
            border: 10px solid transparent;
            border-bottom-color: #fff;
        }

        > ul.listFiltersOptions {
            list-style: none;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            margin-bottom: 0px;

            > li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 18px;
                min-height: 50px;
                border-bottom: solid 2px $grayBorderBottom;
                cursor: pointer;
                color: $grayTextFilters;

                &:not(:last-child) { padding-right: 23px; }
                &:hover { background-color: $greenFilterBackground; }

                .listItemRow {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;

                    &.options {
                        display: none; margin-top: 13px;
                        button { width: 100%; z-index: 2; position: relative;}
                    }

                    .contentStatus {
                        > span {
                            width: 18px;
                            height: 18px;
                            border: solid 1px $grayTextFilters;
                            border-radius: 16px;
                            background-color: white;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 9px;
                            
                            .iconBox {
                                width: 12px;
                                height: 12px;
                                background-color: $grayBackgroundUserName;
                                border-radius: 16px;
                            }
                        }
                    }
                }

                .fa-check{
                    display: none;
                    color: $greenPlayvox;
                }

                &.active {
                    color: $blackTextFilters;

                    &:not(:first-child) {
                        flex-flow: column nowrap;
                        padding-top: 16px;
                        padding-bottom: 17px;
                    }

                    .fa-check { display: block; }

                    .listItemRow {
                        &.options { display: block; }
                        .contentStatus {
                            > span {
                                .iconBox {
                                    background-color: $greenPlayvox;
                                }
                            }
                        }
                    }
                }

                &:last-child {
                    border-bottom: none;
                    padding-left: 0px;
                    button {
                        width: 100%;
                        height: 100%;
                        min-height: inherit;
                        border: none;
                        color: $greenPlayvox;
                        background-color: $grayFilterBackground;
                    }
                }
            }
        }

        &.active { display: block; }
    }

    .activeFilterOptionInside {
        display: none;
        position: absolute;
        background-color: white;
        border: solid 1px $grayBorderFilter;
        width: 181px;
        left: 0px;
        top: 41px;
        z-index: 1;

        ul {
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;

                padding-left: 18px;
                min-height: 50px;
                cursor: pointer;
                color: $grayTextFilters;

                &:hover { background-color: $greenFilterBackground; color: $darkGreenTextHover; }
            }
        }

        &.active { display: block; }
    }

    .addFilterContent {
        display: inline-block;
        position: relative;

        .addFilter {
            position: relative;
            padding-left: 11px;
            border: solid 1px $greenBorder;
            font-family: "pvtext";
            text-align: left;

            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            > span { color: $greenPlayvox; }

            .customLabel {
                margin-right: 16px;
            }

            &:hover { background-color: $greenFilterBackground; }
        }

        .addFilterList {
            display: none;
            position: absolute;
            background-color: white;
            border: solid 1px $grayBorderFilter;
            width: 224px;
            left: 0px;
            top: 60px;
            border-radius: 4px;

            &:before, &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 100%;
                width: 0;
                height: 0;
            }
            &:before {
                left: 8px;
                border: 11px solid transparent;
                border-bottom-color: #ddd;
            }
            &:after {
                left: 9px;
                border: 10px solid transparent;
                border-bottom-color: #fff;
            }

            > ul {
                list-style: none;
                margin-bottom: 0;

                > li {
                    padding-left: 18px;
                    min-height: 50px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    &:hover { background-color: $greenFilterBackground; }
                }
            }

            &.active { display: block; }
        }
    }
}

.totalRequest {
    margin-top: 50px;
}

.tableResults {
    margin-top: 36px;
    .results {
        .iconName {
            width: 18px;
            height: 18px;
            border-radius: 4px;
            border: solid 1px $grayBorderUserName;
            background-color: white;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 12px;

            .iconBox {
                width: 12px;
                height: 12px;
                background-color: $grayBackgroundUserName;

            }
        }
        .priority {
            > span {
                width: 9px;
                height: 9px;
                border-radius: 4px;
                display: inline-block;
                margin-right: 8px;

                &.high { background-color: $priorityHigh; }
                &.medium { background-color: $priorityMedium; }
                &.low { background-color: $priorityLow; }
            }
        }
    }    
}