$grayTextColor: #36403f;
$greenPlayvox: #00a248;

header {
    margin-top: 38px;
    padding-top: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
    
    nav {
        display: flex;
        flex-flow: row wrap;
        
        a{
            font-family: "pvtext";
            color: $grayTextColor;
            font-weight: bold;
            text-decoration: none;
            letter-spacing: 0.5px;
            height: 45px;

            &.mr-30 { margin-right: 30px; }
            &.mr-34 { margin-right: 34px; }

            &:visited, &:focus {
                color: inherit;
                text-decoration: none;
            }

            &.active, &:hover {
                color: $greenPlayvox;
                border-bottom: solid 2px #00a248;
                text-decoration: none;
            }
        }
    }
}