$asideBarColor: #f5f8f7;
$grayInactive: #9b9f9f;
$greenPlayvox: #00a248;
$grayEndOptions: #68706f;

#asideBar {
    min-width: 80px;
    min-height: 100vh;
    background-color: $asideBarColor;
    display: flex;
    position: fixed;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

    .options {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    #startOption
    {
        #mainLogo {
            width: 30px;
            margin-top: 28px;
            cursor: pointer;
    
            img { width: 100% }
        }
    
        #navOptions {
            div {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin-top: 35px;
                border: solid 4px $grayInactive;
                cursor: pointer;
                transition: border-color 0.2s;
                
                &.active, &:hover {
                    border-color: $greenPlayvox;
                }
            }
        }
    }


    #endOptions {
        margin-bottom: 24px;

        button {
            border: none;
            background-color: transparent;

            svg.svg-inline--fa {
                font-size: 1.7em;
                color: $grayEndOptions;
                transition: color 0.2s;
            }

            &:hover {
                cursor: pointer;
                svg.svg-inline--fa {
                    color: $greenPlayvox;
                }
            }
            
            &.bell { margin: 32px 0px; }
            &.cog { margin-bottom: 26px; }
        }

        .profilePicture {
            background-image: url("../../assets/profile-picture.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background-size: 108%;
                background-position-x: -2px;
                transition: all 1s;
            }
        }
    }
}