$grayHR: #d9e3e2;
$blackSubtitle: #04100f;

@font-face {
  font-family: pvtext;
  src: url(assets/fonts/pvtext_regular-webfont.221c3589.woff2) format("woff2"),
       url(assets/fonts/pvtext_regular-webfont.33cc7efe.woff) format("woff"),
       url(assets/fonts/pvtext_regular-webfont.66cb5a58.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-size: 16px; line-height: 1.5;}
button:focus, a:focus {outline:0;}
.content { text-align: left; margin-left: 240px; margin-right: 165px; width: calc(100% - 240px - 165px); }
.subtitle { font-size: 1.3em; color: $blackSubtitle; font-weight: bold; }
.customButton {
  min-width: 121px;
  height: 42px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-right: 16px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin: 0;
}

hr {
  margin-top: 0px;
  background-color: $grayHR;
  border: none;
  height: 1px;
}

.App {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .content { margin-left: 100px; margin-right: 100px; width: calc(100% - 100px - 100px); }
}

@media (max-width: 600px) {
  .content { margin-left: 100px; margin-right: 16px; width: calc(100% - 100px - 16px);}
}